.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetaContacto{
    margin: 15px;
    padding: 10px;
    height: 300px;
    width: 250px;
}
.productoDecoracion{
    width: 200px;
    height: 200px;
}
@mixin fontsize($size,$weight){
    font-size: $size;
    font-weight: $weight;
}
.letraPequeña{
    @include fontsize(20px,10px)}

 @media screen and (max-width: 768px) {
     .cards {
          flex-direction: column;
        }
      }