footer {
    background-color: $colorfondoverde;
    height: 100px;
    text-align: center;
    .logoFooter{
        inline-size: 10%;
        margin-top: 10px;
    }
    p{
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }
        }
/*version tablet*/

   @media screen and (max-width: 768px){}

 /*version celu*/
 @media screen and (max-width: 425px){
    .logoFooter {display:none} 
    footer p {
        display:flex;
        flex-direction: row;}    
    
 }