*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    list-style: none;
    text-decoration: none;
}

$colorfondo: #e27faf;
$colorfondo2: #F8BBD0;
$anchofotoproducto: 200px;
