* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  list-style: none;
  text-decoration: none; }

/* encabezado*/
.gridArea1 {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }
  .gridArea1 .logoheader {
    inline-size: 100px; }
  .gridArea1 h1 {
    font-style: italic;
    font: size 80%; }

header {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #F8BBD0; }
  header .header-background {
    background-image: radial-gradient(circle, rgba(229, 149, 242, 0.95144) 0%, #eeaeca 46%, #f24ee0 100%); }

.container-fluid {
  background-color: #e27faf;
  justify-content: flex-end; }

.navbar {
  padding: 10px;
  background-color: #e27faf; }

nav {
  background-color: #c2185c2f;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%; }
  nav ul
div {
    background-color: rgba(238, 174, 202, 0.281); }
  nav li {
    display: inline;
    font-size: 150%;
    padding-left: 10px;
    padding-right: 10px;
    transition: all, 1s; }
    nav li:hover {
      background-color: #F8BBD0; }

/* main*/
main {
  background-color: #F8BBD0; }

.novedadesImg {
  width: 300px;
  height: 250px;
  padding-left: 8px;
  padding-bottom: 15px; }

.maps {
  width: 350px;
  height: 200px; }

.producto {
  display: inline-block; }

.productoJugueteConejo, .productoJugueteEncastre, .productoJugueteDomino {
  width: 200px;
  height: 200px; }

.productoBaberoNordico1, .productoSonajeroCaballo, .productoSonajeroMadera, .productoSouvenir2, .productoDeco1 {
  width: 200px;
  height: 200px; }

.logoInstagram {
  width: 40px;
  height: 50px;
  text-align: end;
  padding-top: 5px;
  padding-bottom: 5px; }

.logoFacebook {
  width: 40px;
  height: 50px;
  text-align: end;
  padding-top: 5px;
  padding-bottom: 5px; }

.posventa, .marketing {
  display: inline-block;
  padding: 20px;
  margin-top: 5px;
  background-color: #c2185c36; }

#gridArea {
  background-color: #e27faf;
  display: grid;
  grid-template-areas: "carrousel carrousel" "novedades seguinos" "novedades seguinos";
  grid-template-rows: "auto 20% 20%";
  grid-template-columns: "50% 50%";
  place-items: center; }

.carrousel {
  grid-area: carrousel;
  border: 2px #f008f0 solid; }

.novedades {
  grid-area: novedades;
  display: inline-block;
  justify-content: center; }

.seguinos {
  grid-area: seguinos;
  display: inline-block; }

.contacto-padding {
  padding: 10px; }

/* footer*/
footer {
  background-color: #F8BBD0;
  height: 100px;
  text-align: center; }

footer p {
  display: inline;
  margin: 10px; }

.logoFooter {
  inline-size: 10%;
  margin-top: 10px; }

/*Mis @media ESTA HECHA LA VERSION DESKTOP
    TENGO QUE HACER LA VERSION TABLET Y MOBILE */
/*version tablet*/
@media screen and (max-width: 768px) {
  footer {
    background-image: radial-gradient(circle, rgba(229, 149, 242, 0.95144) 0%, #eeaeca 46%, #f24ee0 100%); }
  footer p {
    background-color: greenyellow; }
  .headerIntro h2 {
    display: none; } }

/*version celu*/
@media screen and (max-width: 425px) {
  .gridArea1 {
    font-size: 20%; }
  .logoheader {
    justify-items: center; }
  .logoheaderinicio {
    padding: 8px; }
  .headerIntro h1, .headerIntro h2, .headerIntro h3 {
    display: none; }
  .headerNav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20%; }
  #gridArea {
    display: block;
    flex-direction: column;
    justify-content: center; }
  .carrousel, .maps {
    display: none; }
  footer p {
    display: flex;
    flex-direction: row;
    background-color: red; }
  .logoFooter {
    display: none; } }
